@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CbsTodoList.ViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
}
<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-4 card p-3">
        <h2 class="text-center text-info">Login</h2>
        <form asp-action="Login" method="post">
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="Email">Email address</label>
                <input type="email" id="Email" class="form-control" asp-for="Email" autocomplete="off" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4 password-container">
                <label class="form-label" for="Password">Password</label>
                <input type="password" id="Password" class="form-control" 
                asp-for="Password" autocomplete="off" />
               
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>



            <div class="row p-3">
                <div class="col-8">
                    <a asp-action="Register" class="text-decoration-none float-start mt-2">Register</a>
                </div>
                <div class="col-4">
                    <input type="submit" value="Login" class="btn btn-primary btn-sm float-end" />
                </div>
            </div>

        </form>


    </div>
</div>





@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
      
    }
}
<script>

    $(document).ready(function () {
        $('#togglePassword').click(function () {
            let passwordInput = $('#form2Example2');
            let type = passwordInput.attr('type') === 'password' ? 'text' : 'password';
            passwordInput.attr('type', type);
            $(this).toggleClass('fa-eye fa-eye-slash');
        });
    });
</script>