@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<form id="addTaskForm" method="post" asp-controller="TaskManagment" asp-action="AddTask">
    <div class="form-group mb-3">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" name="Title" placeholder="Title">
        <span id="titleError" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label for="Description">Description</label>
        <input type="text" class="form-control" id="exampleInputDescription" name="Description" placeholder="Description">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</form>

<script>
    function validateForm(event) {
        event.preventDefault();

        var titleField = document.getElementById('Title');
        var errorMessage = document.getElementById('titleError');

        if (titleField.value.trim() === '') {
            errorMessage.textContent = 'Title is required';
        } else {
            errorMessage.textContent = '';
            event.target.submit();
        }
    } 
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('addTaskForm');
        form.addEventListener('submit', validateForm);
        var modal = document.getElementById('taskModalForm');
        modal.addEventListener('shown.bs.modal', clearForm);
    });

    function clearForm() {
        var form = document.getElementById('addTaskForm');
        form.reset();  
        var errorMessage = document.getElementById('titleError');
        errorMessage.textContent = '';
    }
</script>