@model List<DataAccess.Data.Models.TaskRecord>
 
 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Todo List</h2>
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkbox_@item.Id">
                            <label class="form-check-label" for="checkbox_@item.Id">@item.Title</label>
                        </div>
                        <p class="text-muted mb-1">@item.CreatedAt.ToShortDateString()</p>
                        @if (!string.IsNullOrEmpty(item.Description))
                        {
                            <p class="mb-1">@item.Description</p>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>