@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CbsTodoList.ViewModels.SearchViewModel

<div class="container" id="searchTasksDiv">
    <form method="post" action="/TaskManagment/Search">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <input type="text" id="Description" name="Description" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="Title" class="form-label">Title</label>
                    <input type="text" id="Title" name="Title" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="CreatedAt" class="form-label">Created At</label>
                    <input type="date" id="CreatedAt" name="CreatedAt" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="Status" class="form-label">Status</label>
                    <select id="Status" name="Status" class="form-control">
                        <option value="">Select Status</option>
                        <option value="Completed">Completed</option>
                        <option value="Uncompleted">Uncompleted</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>

<div id="searchResults">
    
</div>

@section Scripts {
    <script>
        function performSearch(event) {
            event.preventDefault();

            $.ajax({
                url: $('#searchForm').attr('action'),
                method: 'POST',
                data: $('#searchForm').serialize(),
                success: function (response) {
                    $('#searchResults').html(response);
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        }
    </script>
}